<div class="new-post">
  <%= link_to 'New post', new_picture_path, class:"btn btn-default" %>
</div>
<p><%= notice %></p>

<div class="wrapper">
  <div class="left-nav">
    <ul class="nav nav-pills nav-stacked">
      <li role="presentation" class="active"><a href="#">Name</a></li>
      <li role="presentation"><a href="#">Friends</a></li>
      <li role="presentation"><a href="#">Groups</a></li>
      <li role="presentation"><a href="#">Videos</a></li>
      <li role="presentation"><a href="#">Events</a></li>
      <li role="presentation"><a href="#">Memories</a></li>
      <li role="presentation"><a href="#">Saved</a></li>
      <li role="presentation"><a href="#">Pages</a></li>
      <li role="presentation"><a href="#">See More</a></li>
    </ul>
  </div>

  <div class="main-contents">
    <div class="panel panel-default">
      <% @pictures.each do |picture| %>
      <div class="panel-heading">
        <h3 class="panel-title"><%= picture.user.name %></h3>
      </div>
      <div class="panel-body">
        <div class="post-picture">
        <%= image_tag(picture.image.url) %>
        </div>
        <div class="post-detail">
          <div><%= link_to 'More', picture_path(picture.id) %></div>
          <div><%= link_to 'Edit', edit_picture_path(picture.id) %></div>
          <div><%= link_to 'Delete', picture_path(picture.id), method: :delete, data: { confirm: 'Do you want to delete for sure?' } %></div>
        </div>
        <div class="icons">
          <div>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"> Like</span>
          </div>
          <div>
            <span class="glyphicon glyphicon-comment" aria-hidden="true"> Comment</span>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>
