<h3><%= @picture.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></h3>

<div class="row">
  <div class="col-sm-6 col-md-12">
    <div class="thumbnail">
      <%= link_to 'Edit', edit_picture_path(@picture) %>
      <%= image_tag @picture.image.url %>
      <div class="caption">
        <p>
        <%= @picture.content %>
        </p>
      </div>
    </div>
  </div>
</div>

<nav aria-label="...">
  <ul class="pager">
    <li class="previous"><%= link_to 'â† Back', pictures_path %></li>
  </ul>
</nav>

</div>
